<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
		<RollingFile name="logFile" fileName="C:/logs/egov3-simple-web.log" filePattern="C:/logs/egov3-simple-web.log.%d{yyyy-MM-dd-HH-mm-ss}">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
			<Policies>
				<!-- interval(default 1)이므로 1초 간격으로 rolling 수행 -->   
				<TimeBasedTriggeringPolicy interval="3600" />
			</Policies>
		</RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
		  <!-- log SQL with timing information, post execution -->
	    <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
	    <Logger name="org.springframework" level="DEBUG" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
		<Logger name="com.ibatis" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />	
		</Logger>
	    <Logger name="org.mybatis" level="TRACE" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
	    <Logger name="sample" level="DEBUG" additivity="false">
	        <AppenderRef ref="console" />
	        <AppenderRef ref="logFile" />
	    </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="console" />
            <AppenderRef ref="logFile" />
        </Root>
    </Loggers>
</Configuration>
